body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 260px;
  width: 0;
  height: 100%;
  margin-left: -260px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  transition: all 0.5s ease;
}

.nav-profile-image.profileImage {
  margin: 1px 1px 20px 2px;
}

.form-group.form-login.cambnt {
  float: left;
  margin-top: 7px;
}

span#nameu {
  /* float: right; */
  position: absolute;
  top: 1%;
  margin-left: 31%;
  font-size: 19px;
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: 0px 4px;
  padding-top: 8px;
  background: #763b75
}

#wrapper.toggled #sidebar-wrapper {
  width: 260px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 260px;
  text-align: center;

}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
  padding: 0 2.25rem;
  border-bottom: 1px solid #cccccc45 !important;
  /* line-height: 1.8; */
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #3e4b5b;
  margin: 0;
  /* font-weight: 600; */
  font-size: 0.875rem;
  /* border-bottom: 1px solid #cccccc45 !important; */
}
.menu-title {
  width: 40px;
  font-size: 25px;
  
}

.linav {
  margin-top: 4px;
  font-size: 0.875rem;
}

.sidebar-nav > li:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -260px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  width: 89%;
  padding-left: 5px;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #fff;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -260px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 260px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 260px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -260px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -260px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 260px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 260px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -260px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -260px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 260px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 260px;
  }
}
