.rbt{
    background: #763B75;
    /* padding: 10px; */
    height: 35px;
    /* width: 100px; */
   
    color: #fff;
    border: 2px solid #763B75;
    margin-left: 80%;
    border-radius: 2px;
    padding: 10px;

}
.rbt2{
    background: #763B75;
    /* padding: 10px; */
    height: 35px;
    /* width: 100px; */
   
    color: #fff;
    border-radius: 2px;
    border: 2px solid #763B75;
    margin-left: 90%;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #763B75 !important;
}
h5{
    color: #763B75;
}
.dashtitle{
    color:#fff;
    padding: 10px;
}
.countct{
    /* margin-left: 18%; */
    
    padding: 2%;
    background:#dee2e6;
    width: 100%;
}
.titledash{
    margin-left: 20px;
    color:#763B75;
}
.first-card{
    height:20%;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
}
.ban-card1{
    width:25%;
    height:180px;

    color:#fff;
    /* background: rgb(226, 20, 5); */
    background:linear-gradient(to right, #e37833, #cf1043) !important;

    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    margin: 10px;

}

.ban-card2{
    width:25%;
    height:180px;

    color:#fff;
    /* background: rgb(203, 216, 22); */
    
    background: linear-gradient(to right, #ebcc2f, #d7b50c) !important;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    margin: 10px;

}

.ban-card3{
    width:25%;
    height:180px;

    color:#fff;
    /* background: rgb(74, 33, 187); */
    background: linear-gradient(to right, #4a9bdd, #047edf 99%) !important;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    margin: 10px;

}
.ban-card4{
    width:25%;
    height:180px;

    color:#fff;
    /* background: rgb(124, 218, 202); */
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3%;
    margin: 10px;
}

.second-card{
    height: 20%;
    width:100%;
    margin: 15px;
    padding: 5px;
    /* background: #fff; */
    display: flex;
    justify-content: flex-start;
    
}
.left-card{
    height: 100%;
    width:50%;
    background: #fff;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
}

.right-card{
    height: 100%;
    width:50%;
    background: #fff;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;

}


.third-card{
    height: 100%;
    width:100%;
    margin: 15px;
    padding: 5px;
    /* background: #fff; */
    display: flex;
    justify-content: flex-start;
    
}
.fourth-card{
    height: 100%;
    width:100%;
    margin: 15px;
    padding: 5px;
    /* background: #fff; */
    display: flex;
    justify-content: flex-start;
    
}
.one-card{
    height: 100%;
    width:100%;
    /* width:700px; */
    background: #fff;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
}
.cnt{
    display: flex;
    justify-content: flex-start;
}
@media only screen and (max-width:1000px){
    .countct{
        /* margin: 2%; */
        padding:3%;
    }
    .first-card{
       
        /* margin-left: 18%; */
        display: flex;
        flex-direction: column;
        /* padding: 4%; */
        background:#dee2e6;
        width: 100%;
        overflow-x: scroll;

    }
    .second-card{
        /* margin-left: 18%; */
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        padding: 4%;
        background:#dee2e6;
        width: 80%;
        overflow-x: scroll;

    }

    .third-card{
        /* margin-left: 18%; */
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        padding: 4%;
        background:#dee2e6;
        width: 80%;
        overflow-x: scroll;
    }

    .fourth-card{
        /* margin-left: 18%; */
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        padding: 4%;
        background:#dee2e6;
        width: 80%;
        overflow-x: scroll;
    }
    
    
    .titledash {
        margin-left: 50px;
        color: #763B75;
    }
   .first-card,.second-card,.third-card,.fourth-card{
        width: 95%;
        /* overflow-x: scroll; */
    }
    .left-card,.right-card{
        width:90%;
    }
    .ban-card1,.ban-card2,.ban-card3,.ban-card4{
        width: 82%;

    }

    .rbt{
        margin-left: 30%;
    }
    .rbt2{
        /* margin-right:10%; */
        margin-left: 75% !important;
    }
   
}
.dash{
    display: flex;
    flex-direction: row;
}
.maind{
    margin-left:20px;
}