input#imgrichcard {
    padding: 3px;
    margin-top: 27px; ;
}

label {
    float: left;
    font-size: 13px;
}

select.form-control {
    display: block;
    width: 100%;
    padding: 4px 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 25px;
}




/* body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
} */

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


.form-signup {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* top:0; */
}

/* @media(min-width:1440px){
    .form-signup {
    position:relative;
    top: 160px;
    }
} */

@media(min-width:2560px){
    .form-signup {
    position:relative;
    top: 600px;
    }
}

.form-signin {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-box-sign {
    margin: 20px 0;
}

.social-box-sign a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


.form-box-sign.sign-up-box-sign{

    
}
/* .box-sign {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 110%;
} */


.form-box-sign input {
    background: #ffff;
    border: 1px solid #c1c0c0ee;
    padding: 3px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}  

button {
    border-radius: 20px;
    border: 1px solid #763B75;
    background: #763B75;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
    border-radius: 5px;
}

.login-signup-button{

    padding: 9px 22px 9px 23px;
    border-radius: 5px;
}


.form-box-sign {
    /* position: absolute; */
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-box-sign {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-box-sign {
    /* top: 0; */
    position:absolute;
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-box-sign {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #763B75;
    background: linear-gradient(to right, #763B75, #763B75) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
} */


.box-sign.right-panel-active .sign-in-box-sign {
    transform: translateY(100%);
}


.box-sign.right-panel-active .overlay-box-sign {
    transform: translateX(-100%);
}


.box-sign.right-panel-active .sign-up-box-sign {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}


.box-sign.right-panel-active .overlay {
    transform: translateX(50%);
}


.box-sign.right-panel-active .overlay-left {
    transform: translateY(0);
}


.box-sign.right-panel-active .overlay-right {
    transform: translateY(20%);
}

 .footer {
    margin-top: 25px;
    text-align: center;
}


.icons {
    display: flex;
    width: 30px;
    height: 30px;
    letter-spacing: 15px;
    align-items: center;
}

@media (max-width: 425px) {

    .box-sign {
        width: 1000px;
        max-width: 100% !important;
        min-height: 50% !important;
    }

} 


.columnsignup {
    float: left;
    width: 46% !important;
    padding: 7px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


input#user_name {
    width: 50%;
}

input#Password {
    width: 50%;
}



body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.login{

}
.log-img{
    width: 100%;
    height: 100%;
}
.row{
    width: 100%;
    margin: 0 auto;
}

.login-form{
margin-left: 8%;
width: 60%;
margin-top: 25%;
}


.hello{
    color: #763B75;
    margin-top: 11%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:5px;   
}

.hello-tag{
margin:0;
}

.form-login{
margin: 10px 0;
text-align: right;
}

.form-login input {
    background: #fff;
    padding: 10px !important;
    margin: 20px 0;
    height: 30px !important; 
}

.forgotpassword{
    float: inherit;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.rbmbnt{
    background: #763B75;
    color: #fff;
    font-weight: bold;
    padding: 6px 33px;
    border: none;
    border-radius: 2px;
    
}

.rbmbnt:hover{
    box-shadow: 0px 2px 5px 0px #333;   
}

.eye{
    position: absolute;
    left: 68%;
    margin-top: 5px;
    margin-left: 5px;
}

.sidemenu{
    width: 215px;
    position: absolute;
    top: 18px;
    left: 30px;
    box-shadow: 0px 1px 2px 0px #333;
    height: 100%;
    background: #F0F0F0;
}

.header{
    background: #763B75;
    height: 75px;
    width: 100%;
}

.sidelogob img{
width: 100%;
}


.menulist{

}
.menulist li{
list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    margin: 0 0px;
    padding-right: 0;
    border-bottom: 1px solid #cccccc47;
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    margin: 0px;
}
.cam-name{
     height: 45px;
    width: 45px;
    background: #763B75;
    border-radius: 28px;
    margin: 10px;
}
.menulist li:hover{
    background: #fff;
    color: #763B75 !important;
}

.menuname{

}

ul{
    padding: 0;
    margin: 0;
}
.menuname a{
    padding: 10px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.menuname a:hover{
   color: #763B75;
   text-decoration: none;
}
.menuname span{
    color: #763B75;
    font-size: 16px;
    display: block;
    float: left;
    width: 20px;
}

.dashbord{
    margin-left: 250px;
}

.tittle{
    font-size: 20px;    
    color: #763B75;
    border-bottom: 1px solid #763B75;
    padding-bottom: 15px;
}

.agent_form p{
margin:0;
}

.agent_form h3{
      color: #763B75;

}

select, input[type="file"]{
        height: unset !important;
        width: 100%;
}


.larger-banner{
    width: 80%;
    margin: 0 auto;
    padding-top: 55px;   
}
.contact{
    padding: 10px !important;
    height: 30px !important;
}

#displaynametarget{
    margin: 30px 10px;
    text-align: center;
    font-size: 17px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 6px;
    font-weight:bold;
}
#discriptiontarget{
    margin: 5px 10px;
    text-align: center;
    font-size: 12px;
    color: #444;
    display: block;
    line-height: 15px;
    word-break: break-all;
}


.info{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    width: 128px;
  
}

.info:hover{
  
    color: #763b75;
}


.col-info{
    width: 50%;
    float: left;
    padding: 0;
}
#labelforcontacttarget,#Emaillabeltarget{
    font-size: 12px;
    color: #444;
    margin-left: 25px;
    text-transform: capitalize;
}



.previewtitle{
    color: #000;
    text-align: left;
    margin-left: 65px;
}

input:focus {
 
  border: 1px solid #ccc;
}


button#signIn {
    border: 1px solid;
}

.ptag_color{
    color: #ffffff;
    font-weight: 400;
}

.rep-box{
width: 20%;
    padding: 18px 10px;
    margin: 5px;
}
.total{
color: #fff;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.camtag{
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}



#cardtitletarget{
    width: 90%;
    margin-left: 8%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 0;

}

#carddesctarget{
      width: 77%;
    margin-left: 8%;
    font-size: 11px;
    text-transform: capitalize;
    color: #555;
    word-break: break-all;
    line-height: 13px;
    font-weight: bold;
}


.rcsfile{
float: left;
    margin: 4px 7px !important;
}

.rcsfilename{
    font-size: 10px;
    text-transform: capitalize;
    margin: 0;
    font-weight: bold;
}


.rcscheck{
    width: 100%;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.log-img{
    width: 100%;
    height: 100%;
}
.row{
    width: 100%;
    margin: 0 auto;
}

.login-form{
margin-left: 8%;
width: 60%;
margin-top: 25%;
}


.hello{
    color: #763B75;
    margin-top: 11%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:5px;   
}

.hello-tag{
margin:0;
}

.form-login{
margin: 10px 0;
text-align: right;
}

.form-login input {
    background: #fff;
    padding: 10px !important;
    margin: 20px 0;
    height: 30px !important; 
}

.forgotpassword{
    float: inherit;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.rbmbnt{
    background: #763B75;
    color: #fff;
    font-weight: bold;
    padding: 6px 33px;
    border: none;
    border-radius: 2px;
    
}

.rbmbnt:hover{
    box-shadow: 0px 2px 5px 0px #333;   
}

.eye{
    position: absolute;
    left: 68%;
    margin-top: 5px;
    margin-left: 5px;
}

.sidelogob img{
width: 100%;
}



.menulist li{
list-style-type: none;
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    margin: 0 0px;
    padding-right: 0;
    border-bottom: 1px solid #cccccc47;
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    margin: 0px;
}
.cam-name{
     height: 45px;
    width: 45px;
    background: #763B75;
    border-radius: 28px;
    margin: 10px;
}


ul{
    padding: 0;
    margin: 0;
}
.menuname a{
    padding: 10px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.menuname a:hover{
   color: #763B75;
   text-decoration: none;
}
.menuname span{
    color: #763B75;
    font-size: 16px;
    display: block;
    float: left;
    width: 20px;
}

.dashbord{
    margin-left: 250px;
}

.tittle{
    font-size: 20px;    
    color: #763B75;
    border-bottom: 1px solid #763B75;
    padding-bottom: 15px;
}


select, input[type="file"]{
        height: unset !important;
        width: 100%;
}

.img-preview{

        background-image: url("../../images/phone_test123 (1).png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 492px;
    width: 260px;
    background-size: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 43px;
    border-bottom-left-radius: 60px 59px;
    border-bottom-right-radius: 68px;
}

.larger-banner{
    width: 85%;
    margin: 0 auto;
    padding-top: 55px;
    float: left;
    margin-left: 13px; 
}
.contact{
    padding: 10px !important;
    height: 30px !important;
}



#contact-icon{
    font-size: 18px !important;
    margin: 4px !important;
    padding: 7px !important;
    display: block !important;
    float: left !important;
    color: #763B75;
}

.log-round{
    width: 60px;
    height: 60px;
    border-radius: 43px;
    position: absolute;
    left: 115px;
    top: 150px;
    margin: 0 auto;
    margin-top: 12px;
    border: 2px solid #fff;

}

#displaynametarget{
      margin: 26px 0px;
    text-align: center;
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: -4px;
    height: 18px;
}
#discriptiontarget {
margin: 7px 0;
    text-align: center;
    font-size: 10px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0px;
    height: 31px;
    line-height: 13px;
}


.info_row{
    position: absolute;
    top: 290px;
    width: 62%;
    padding: 0;
    margin: 0;
    
}
.col-info{
    width: 105px;
    float: left;
    padding: 0;
}
#labelforcontacttarget,#Emaillabeltarget,#websitelabeltarget{
    font-size: 12px;
    color: #444;
    margin-left: 25px;
    text-transform: capitalize;
}

.infoheight{
    width: 235px;
    float: left;
    margin: 5px 0;
    height: 45px !important;
    margin: 0;
    border-bottom: 1px solid #ccc;
    clear: both;
}

.infoheight span{
    font-size: 13px;
}

.previewtitle{
    color: #000;
    text-align: left;
    margin-left: 65px;
}

input:focus {
 
  border: 1px solid #ccc;
}

.rep-box{
width: 20%;
    padding: 18px 10px;
    margin: 5px;
}
.total{
color: #fff;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.camtag{
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}

.cardsview{
    width: 270px;
    margin: 0 auto;
    margin-left: 90px;
    margin-top:45px;
}

.cardsviewpreview{
    width: 85%;
    margin: 0 auto;
   
}



#cardtitletarget{
    width: 90%;
    margin-left: 8%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 0;
    word-break: break-all;
}

#carddesctarget{
      width: 77%;
    margin-left: 8%;
    font-size: 11px;
    text-transform: capitalize;
    color: #555;
    word-break: break-all;
    line-height: 13px;
    font-weight: bold;
}


.rcsfile{
float: left;
    margin: 4px 7px !important;
}

.rcsfilename{
    font-size: 15px;
    text-transform: capitalize;
    margin: 0;
    font-weight: bold;
    color:blue;
}


.rcscheck{
    width: 100%;
    margin: 0 auto;
}

#contact-icon2{
 font-size: 16px !important;
    color: #763B75;
    padding: 0 10px;
    float: left;
    padding: 0 10px;
    display: block;
    margin-left: 30px;
}

.call-web-email{
    height: 22px;
}

.call-web-email p{
    font-size: 10px;
     color: #763B75; 
}




.opt-hide{
     display: none;
    clear: both;
    width: 230px;
     padding: 0px; 
    margin: 0 5px;
}


.opt_details{
color: #000;
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    font-size: 11px;  
}
.previewbanner {
    display: none;
}
.previewbanner2{
    display: none;
}


.arrow i {
    margin: 5px 0!important;
    font-size: 9px;
    color: #000;
}
