
.textcontT{
    background: #f2edf3;
    padding:4%;
    /* margin-left:15%; */
    /* margin-top: 0px; */
    
 }
 .messagecont{
   height:100%;
   width:100%;

   border-radius: 1px solid #000;
   
 }
 .texttitle{
    /* margin-top:20px; */
    padding-top:2%;
    padding-left: 2%;
    color:#763B75;
 }

 /* .img-preview2 {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 492px;
    width: 260px !important;
    background-size: auto;
    border-top-right-radius: 45px;
    border-top-left-radius: 43px;
    border-bottom-left-radius: 60px 59px;
    border-bottom-right-radius: 63px;
} */

 .fieldcontT{
    background: #fff;
    
    margin:20px;
    padding:50px;
    border-radius: 5px;
    height: 100vh;

 }
 .fieldcontT1{
    background: #fff;
    
    margin:20px;
    padding:20px;
    border-radius: 5px;
    height: 100vh;
 }
.btnT{
    background:#763B75;
    padding:10px;
    height:50px;
    width:180px;
    border-radius: 5px;
    color:#fff;
    border: none;
    /* margin-right:25px; */
    margin-right: 35px;
}
.btnT1{
    background:#763B75;
    padding:10px;
    height:50px;
    width:180px;
    border-radius: 5px;
    color:#fff;
    border: none;

    margin-left:35px;
}




  .form-groupT {
    margin-bottom: 20px;
  }
 .rowcontT{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }


 .form-groupT label {
    font-size: 14px;
    
    line-height: 1;
    vertical-align: top;
    margin-bottom: 15px;
}
.form-controlT {
    border: 1px solid #ccc;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.8125rem;
}
textarea.form-controlT {
    min-height: 2.875rem;
}
.form-controlT {
    display: block;
    width: 92%;
    padding: 10px 20px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    /* color: #212529; */
    background-color: color(white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form-controlT1 {
    display: block;
    width: 100%;
    padding:  15px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1;
    /* color: #212529; */
    background-color: color(white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}



 .mystT{
   background-image:url("../../images/phone_test123 (1).png");
   height: 630px;
   width: 300px;
           font-size:20px;
         
           margin-left:50px;

           
           padding:20px;


           
           }



           /* mes */

           .messagecont{
            /* height:10%; */
            width:100%;
            margin: 5px;
            /* text-overflow: wordbreak; */
            padding:2px;
            word-break: break-all;
 
            border-radius: 6  px;
            /* font-weight: bold; */
           }
           .messagecont P{
            font-weight: bold;
            border: 1px solid #e2e1e1;
  height: 10%;
           }


@media only screen and (max-width:1020px){


.textcontT{
   background: #dee2e6;
   padding-left:10%;
   /* margin-left:15%; */
   /* margin-top: 0px; */
   
}
.texttitle{
   padding-left:4%;
   margin-top: 10% !important;
}
    .rowcontT{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
     }
     .fieldcontT1{
        width:90%;
        padding:20px;
        margin:20px;
     }
     .fieldcontT{
        width: 90%;
        padding:20px;
        margin:20px;

     }
     .btnT{
        margin:3px;
        width: 120px;
     }
     .btnT1{
        margin:3px;
        width:120px;
     }
     .form-controlT{
        width:85% !important;
     }


     .mystT{
      background-image:url("../../images/phone_test123 (1).png");
     
              font-size:30px;
            
              margin-left:2px;
   
              
              padding:20px;
   
   
              
              }
   
 }
